@model Company

<h3>@ViewData["Message"]</h3>
<ul>
    <li>First: @Model.Name</li>
    <li>Last: @Model.City</li>
    <li>BirthDay: @Model.CUI</li>
    <li>BirthDay: @Model.J</li>
</ul>

<form asp-controller="Home" asp-action="AddNewCompany" method="POST">
    <div class="form-group">
        <label asp-for="Name">Name :</label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City">City :</label>
        <input class="form-control" asp-for="City" /> 
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CUI">CUI :</label>
        <input class="form-control" asp-for="CUI" />
        <span asp-validation-for="CUI" class="text-danger"></span>
    </div>    
    
    <div class="form-group">
        <label asp-for="J">J :</label>
        <input class="form-control" asp-for="J" />
        <span asp-validation-for="J" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adress">Adress :</label>
        <input class="form-control" asp-for="Adress" />
        <span asp-validation-for="Adress" class="text-danger"></span>
    </div>        
    
    <div class="form-group">
        <label asp-for="FieldOfActivity">Field of activity :</label>
        <input class="form-control" asp-for="FieldOfActivity" />
        
    </div>

    <div class="form-group">
        <label asp-for="PreviousContract">PreviousContract(bool) :</label>
        <input class="form-control" asp-for="PreviousContract" />
        
    </div>

    <div class="form-group">
        <label asp-for="HasAutoPark">HasAutoPark(bool) :</label>
        <input class="form-control" asp-for="HasAutoPark" />
        <span asp-validation-for="HasAutoPark" class="text-danger"></span>
        
        
    </div>

    <div class="form-group">
        <label asp-for="NrOfDrivers">Nr Of Drivers(int) :</label>
        <input class="form-control" asp-for="NrOfDrivers" />
        
    </div>

    <div class="form-group">
        <label asp-for="ServicesOfInterest">What services they want :</label>
        <input class="form-control" asp-for="ServicesOfInterest" />
        
    </div>

    <div class="form-group">
        <label asp-for="DateOfTheFirstContact">Date of the first contact :</label>
        <input class="form-control" asp-for="DateOfTheFirstContact" />
        
    </div>

    <div class="form-group">
        <label asp-for="DateOfTheSecondContact">Date of the second contact :</label>
        <input class="form-control" asp-for="DateOfTheSecondContact" />
        
    </div>

    <div class="form-group">
        <label asp-for="DateOfTheThirdContact">Date of the third contact :</label>
        <input class="form-control" asp-for="DateOfTheThirdContact" />
        
    </div>

    <div class="form-group">
        <label asp-for="DateOfTheFourthContact">Date of the fourth contact :</label>
        <input class="form-control" asp-for="DateOfTheFourthContact" />
        
    </div>

    <div class="form-group">
        <label asp-for="DateOfTheFifthContact">Date of the fifth contact :</label>
        <input class="form-control" asp-for="DateOfTheFifthContact" />
        
    </div>

    <div class="form-group">
        <label asp-for="Discution1">Notes from the first discussion :</label>
        <input class="form-control" asp-for="Discution1" />
        
    </div>

    <div class="form-group">
        <label asp-for="Discution2">Notes from the second discussion :</label>
        <input class="form-control" asp-for="Discution2" />
        
    </div>

    <div class="form-group">
        <label asp-for="Discution3">Notes from the third discussion :</label>
        <input class="form-control" asp-for="Discution3" />
        
    </div>

    <div class="form-group">
        <label asp-for="Discution4">Notes from the fourth discussion :</label>
        <input class="form-control" asp-for="Discution4" />
        
    </div>

    <div class="form-group">
        <label asp-for="Discution5">Notes from the fifth discussion :</label>
        <input class="form-control" asp-for="Discution5" />
        
    </div>

    <div class="form-group">
        <label asp-for="LongDiscutions">general discussion :</label>
        <input class="form-control" asp-for="LongDiscutions" />
        
    </div>

    <div class="form-group">
        <label asp-for="CallBackDate">Callback date :</label>
        <input class="form-control" asp-for="CallBackDate" />
        
    </div>

    <div class="form-group">
        <label asp-for="CourseLvl1">Course LVL1 :</label>
        <input class="form-control" asp-for="CourseLvl1" />
       
    </div>

    <div class="form-group">
        <label asp-for="CourseLvl2">Course LVL2 :</label>
        <input class="form-control" asp-for="CourseLvl2" />
        
    </div>

    <div class="form-group">
        <label asp-for="CourseLvl3">Course LVL3 :</label>
        <input class="form-control" asp-for="CourseLvl3" />
        
    </div>    

    <button class="btn btn-danger" type="submit" value="Submit">Submit</button>
</form>



<p>Persoane Fizice ATA.</p>
