@model List<Company>

<form asp-controller="Home" asp-action="AddNewCompany" method="POST">
    <label for="name">Filter: </label>
    <input class="form-control" id ="name" />
    <input class="form-control" id ="city" />
    <input class="form-control" id ="CUI" />
</form>

<table class="table">
    <tr class="active">
        <td class="alert-warning">ID</td>        
        <td class="alert-warning">Name</td>
        <td class="alert-warning">City</td>
        <td class="alert-warning">CUI</td>
        <td class="alert-warning">J</td>
        <td class="alert-warning">Adress</td>
        <td class="alert-warning">FieldOfActivity</td>       
    </tr>
    @foreach (var item in Model)
    {        
        <tr class="active">
            <td class="info">@item.CompanyId</td>                 
            <td class="info">@item.Name</td>
            <td class="info">@item.City</td>
            <td class="info">@item.CUI</td>
            <td class="info">@item.J</td>
            <td class="info">@item.Adress</td>
            <td class="info">@item.FieldOfActivity</td>
        </tr>
    }
</table>

<p>Persoane Juridice ATA.</p>
